* {
    font-family: 'Ubuntu', sans-serif;
}

.midbody{
    background-color: #1C1717;
    height:100vh;
    color: #FFFFFF;
}

.container1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
}

.carouselcontainer{
    border-style: solid;
    border-color: rgb(78, 74, 74);
}

.textbox2{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 98vw;
}

.buttongroup{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}